<body>

  <mat-toolbar>
    <div class="toolbar-1">
      <img height="100%" src="../assets/LogoSamarytanin.png"/>
      <h1> Samodzielny Publiczny Zakład Opieki Zdrowotnej w Parczewie</h1>
    </div>
    
    <span>Procendury</span>
  </mat-toolbar>

  <div class="grid">
  
    <div class="tile">
      <mat-card matRipple [matRippleCentered]=true>
        <mat-card-title class="card-title">Procendury Administracyjne</mat-card-title>
    </mat-card>

    </div>

    <div class="tile">
      <mat-card matRipple [matRippleCentered]=true>
            <mat-card-title class="card-title">Zarządzenia dyrektora</mat-card-title>
      </mat-card>
    </div>

</div>
</body>